table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #777777;
    text-align: left;
    padding: 8px;
    border-bottom: solid 1px #e5e5e5;
}

td {
    text-align: left;
    padding: 8px;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border-bottom: solid 1px #e5e5e5;
    font-size: 13px;
    letter-spacing: 0.14px;
}